# dependencies
node_modules/

# Next.js
.next/
out/
next-env.d.ts
.vercel/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# env
.env
.env.local
.env.*.local

# OS
.DS_Store
Thumbs.db

# build artifacts
dist/
.turbo/
.swc/

# TypeScript
*.tsbuildinfo

# editor
.idea/
.vscode/

.kiro
.hypothesis
*.zip